@model TicketFlow.Data.Models.Event
<h2>Добави събитие</h2>

<form asp-action="Create" method="post"> 
    <div class="mb-3"> 
        <label asp-for="Name"></label> 
        <input asp-for="Name" class="form-control" />
    </div> 

    <div class="mb-3"> 
        <label asp-for="Date"></label> 
        <input asp-for="Date" type="date" class="form-control" />
    </div>
    
        <div class="mb-3"> 
            <label asp-for="Location"></label> 
        <input asp-for="Location" class="form-control" />
    </div> 
        <button type="submit" class="btn btn-success">Запази</button
</form>
